@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 .select-btn::after{
    top:10px;
 }
 
 #back-to-top a i svg{
    height:20px;
 }
 
 .page-cartPage .cart-promocode button .icon-arrow-right svg{
 	width:4%;
 	position:relative;
 	top:-57px;
 	right:133px;	
 }
 
 .global-header-list .delivery-header input {
 	height:30px;
 }
}
