// ==========================================================================
//   Base styles: opinionated defaults
// ==========================================================================
html,
body {
  height: 100vh;
}

body {
  padding-top: 65px;
  
  .impersonation{
  	display: none;
  }
  &.impersonation-mode{
  	padding-top:95px;
  	
  	.impersonation{
  		display: block;
  	}
  }
  @media(min-width: $tablet){
      padding-top: 135px;
      &.impersonation-mode{
  		padding-top:165px;
  		.main-nav{
  			top: 114px;
  		}
 	  }
  }
  @media(min-width: $desktop){
      padding-top: 145px;
      &.impersonation-mode{
	  	padding-top:175px;
	  	
	  	.main-nav{
  			top: 115px;
  		}
	  }
  }
  &.bd-portal {
    padding-top: 0;
  }
}

.clamp-1,
.clamp-2 {
  line-height: inherit;
}

.main-content {
  min-height: 100%;
  position: relative;
  padding-bottom: 345px;
  .bd-portal & {
    padding-bottom: 160px;
  }
  @media(min-width: $tablet){
      padding-bottom: 170px;
  }
}

::selection {
  background-color: $medium-grey;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */


/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

 audio,
 canvas,
 img,
 svg,
 video {
  vertical-align: middle;
}

hr {
  border-top-color: $medium-lite-grey;
  margin: $spacing-x-small 0;
  width: 100%;
  &.hr-1 {
    border-top: 1px solid $medium-grey;
    margin: 0;
  }
  &.hr-2 {
    border-top: 2px solid $medium-grey;
    margin: 0;
  }
  &.blue-2 {
    border-top: 2px solid $primary-blue;
  }
}

.icon-loading {
  width: 52px;
  height: 52px;
  color: $primary-blue;
}

.icon-loader {
  position: relative;
  color: $primary-blue;
  width: 65px;
  height: 65px;
  animation: spin 0.7s linear infinite;
}
// .icon-loader {
//   position: relative;
//   left: -10px;
//   width: 65px;
//   height: 65px;
// }

// Messages

.global-message {
  padding: 15px $spacing-small;
  margin: 0 0 $spacing-small;
  &.good {
    border: 1px solid $primary-blue;
    color: $primary-blue;
  }
  &.bad {
    border: 1px solid $red;
    color: $red;
  }
}

.btn + .error-bold {
  margin-top: $spacing-x-small;
    @media(min-width: $tablet){
      margin-top: 0;
    margin-left: $spacing-x-small;
    }
}

.error-bold {
  padding: 10px 30px;
  border: 1px solid $red;
  background-color: $pink;
  text-align: center;
  display: inline-block;
  color: $red;
  width: 100%;
  font-size: $font-x-small;
  a {
    color: $red;
  }
  @media(min-width: $tablet){
  line-height: 38px;
  width: auto;
  padding: 0px 30px;
  }
  &.error-bold-blue {
    border-color: $primary-blue;
    background-color: $baby-blue;
    color: $primary-blue;
  }
}

.well {
  border: 0 none;
  background: $light-grey;
  border-radius: 0;
  padding: 15px 0;
  box-shadow: none;
}

.main-content {
  &.inactive {
    // opacity: 0.3;
    position: relative;
    .cart-body {
      position: relative;
      &:before {
        z-index:4;
        position: absolute;
        background:url('../img/spinner.gif') no-repeat center center;
        width: 30px;
        height: 30px;
        content: "";
        display: block;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
      }
    }
    &:after {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      display: block;
      background-color: rgba(255,255,255,0.7);
    }
  }
}

// Loading State

body.loading {
  .main-content {
    &:after {
      @include overlay(rgba(255,255,255,0.7), fixed);
    }
    .loading-message {
      @include loadingMessage(fixed, 40%);
    }
  }
}

.product-picks-items.loading {
  // .main-content {
    position: relative;
    &:after {
      @include overlay(rgba(255,255,255,0.7), absolute);
    }
    .loading-message {
      @include loadingMessage(absolute, 25%);
    }
  // }
}

.loading-message{
  display: none;
}


/*
 * Remove default fieldset styles.
 */

 fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
  resize: vertical;
}

img{
  max-width:100%;
}

section {
  // margin-bottom: $spacing-large;
  &.border-divider {
    border-bottom: 2px solid $medium-grey;
  }
  &.standard{
    @media (min-width: $tablet){
      padding-bottom: $spacing-large;
    }
  }
}

*:focus {
  outline: none;
}


// Custom Columns

.custom-row {
  padding: 0 -15px;
}

.custom-col-3 {
  width: 33.3%;
  float: left;
  & + .custom-col-3 {
    margin-left: 0.3%;
  }
}

// Bootstrap resets

.panel-group .panel,
.panel-heading,
.panel {
  border-radius: 0;
}

.alert {
    padding: 15px;
    margin-bottom: $spacing-small;
    border-radius: 0;
    color: $red;
    border: 1px solid $red;
}

.skip, .skiptocontent, .skiptonavigation{
  position: absolute;
  top: -30000px;
  left: -30000px;
}


/*  ===========================
    ===== 960px Grid Fix ====== */

@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  // .row {
  //   margin-left: -20px; *zoom: 1;
  // }
  .row:before, .row:after {
    display: table; line-height: 0; content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left; min-height: 1px; margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px;
  }
  .span12 {
    width: 940px;
  }
  .span11 {
    width: 860px;
  }
  .span10 {
    width: 780px;
  }
  .span9 {
    width: 700px;
  }
  .span8 {
   width: 620px;
 }
 .span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
}




// ==========================================================================
//   Browse Happy prompt
// ==========================================================================

.browsehappy {
  margin: 0.2em 0;
  background: $primary-blue;
  color: $white;
  padding: 0.2em 0;
}


// ==========================================================================
//   Spacing
// ==========================================================================

//spacing items
.global-navigation + .container-main {
  margin-top: $spacing-x-small;
  @media (min-width: $tablet){
    margin-top: $spacing-medium;
  }
}

.r-row{
  position: relative;
}
//bottom align col
.ba-col{
  @media (min-width: $desktop){
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*SABMC-1340：top error message*/
$top-error-animate-time:0.6s;
.top-error{
    height: 40px;
    background: $red;
    color:$white;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    margin: 0;
    position: fixed;
    top: -100px;
    z-index: 1070;
    width: 100%;
    left: 0;

    a{
      color: $white;
      text-decoration: underline;
    }
    .container,
    p{
      height:100%;
    }
    p{
      margin: 0;
    }
}

.top-error.active,
.notify-mode .top-error{
  top:0;
  opacity: 1;
  visibility: visible; 
}
.top-error.noscript{
  position: static;
  padding: 20px 0;
  height: auto;
}

.notify-mode{
  $one-line-heigth:40px;
  $two-line-heigth:60px;
  $three-line-heigth:80px; 
  $four-line-heigth:100px;

  @media (min-width: $tablet){
    .global-header{
      top:0 + $one-line-heigth;
    }
    .main-nav{
      top:85px + $one-line-heigth;
    }
    body{
      padding-top: 145px + $one-line-heigth;
    }
  }
  
  @media (max-width: $mobile-max){
    .top-error{
      height:$two-line-heigth;
    }
    .global-navigation{
      top:0 + $two-line-heigth;
    }
    body{
      padding-top: 54px + $two-line-heigth; 
    }
  }
  @media (max-width: 405px){
    .top-error{
      height:$three-line-heigth;
    }
    .global-navigation{
      top:0 + $three-line-heigth;
    }
    body{
      padding-top: 54px + $three-line-heigth;
    }
  }
  @media (max-width: 302px){
    .top-error{
      height:$four-line-heigth;
    }
    .global-navigation{
      top:0 + $four-line-heigth;
    }
    body{
      padding-top: 54px + $four-line-heigth;
    }
  }
}